* { 
    transition: all 0.5s ease;
    a {
        transition: all 0.3s ease;
    }
} 
body{
    color:black;
    background-color: white;
    background-attachment: fixed;
    background-image: url('sfondo-1280x800.jpg'); /* Percorso immagine */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 1280px;
    
}
html{
    padding:0px;
}
h1 {  
    background-size: cover; /* Adatta l'immagine all'elemento */
    background-position: center;
    font-weight: bolder;
    font-size: 45px;
    color: gold; /* Cambia colore del testo per contrasto */
    padding: 5px 5px 0px 5px; /* Aggiunge spazio interno */
    text-align: left;
    margin :10px 5px 25px 5px;
    text-shadow:
        0 0 4px #2b2b2b,     /* bordo interno scuro */
        0 0 6px #d1ad0d,     /* alone medio */
        0 0 10px #d8b800,    /* alone più largo */
        0 0 15px #e6c510;    /* effetto "neon" */
    cursor: default;
}
h1.schedine {
    font-size: 35px;
    margin-left: 33%;
}
h2{  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    /*background-color: whitesmoke;*/
    text-align: center;
    margin-top: 5px; 
    margin-bottom: 5px;
    margin-left: 1px; 
    margin-right: 1px;
    font-size: normal;
}
h3{
    text-align: center;
    margin-top: 7px; 
    margin-bottom: 1px;
    margin-left: 5px; 
    
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.testoverde {
    font-weight: bolder;
    font-size: 18px;
    color: #008000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
testoabbributo {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ******************************************************************* */
/* barra di navigazione delle schedine e della presentazione del sito. */
/* ******************************************************************* */
div#barradinavigazione {
    background-color:color-mix(in hsl shorter hue, color percentage, color percentage);
    display: flex;
    flex-wrap: wrap;
    margin-top:30px;
    background-color: transparent;
    border-radius: 10px;
    min-width: 200px;
    padding: 1px 1px 5px 1px;
    width: 88%;
 }
.cellebarra {
    color:white;
    /*background-color:#919191;*/
    background-color:whitesmoke;
    border: 1px solid black;
    width: 25px; 
    height: 20px;
    text-align: center;
    font-size: 16px;
    min-width: 110px;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 0px 2px 4px 2px;
    border-radius: 10px;
    box-shadow: 5px 5px 9px 4px black;
}   
.cellebarra:hover {
    background-color: gold;  
    border: 1px solid white;
    box-shadow: 2px 2px 3px 2px black;
}
/* ******************************************************************* */
/* Barra di selezione dei campionati e dei pronostici affini.          */
/* ******************************************************************* */
div#contenitorecampionato {
    clear:both;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
div#inizio {
    color: black;
    background-color: goldenrod;
    text-align: center;
    min-width: 180px;
    min-height: 25px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 0px 1px 2px 5px;
}
.sfondo {
  background-image: url('sfondocampionato.jpg');
  background-size: cover;        /* Copre tutto il div */
  background-position: center;   /* Centra l'immagine */
  width: 180px;
  height: 170px;
  border-radius: 10px; 
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;  
  border: 1px solid black;  
}
div#campionato {
    color: black;
    background-color: goldenrod;
    text-align: center;
    font-size: 12px;
    min-width: 180px;
    min-height: 170px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    margin: 5px 10px 25px 10px;
    box-shadow: 5px 5px 9px 4px black;
    padding: 0px 1px 1px 1px;
}                                                                      
div#campionato:hover {
    color: black;
    text-align: center;
    min-width: 180px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    box-shadow: 2px 2px 3px 2px black;
    background-color: gold;
    
}
div#nomecampionato {
    background-color: rgb(211, 206, 206);
}
img.immagine-logo-seriea{
    width: 60px;
    height: 90px;
    min-width: 50px;
    margin-top: 2px;
    margin-bottom: 7px;
    border: 2px solid goldenrod;
    border-radius: 10px;
    transition: transform 0.5s ease;
    cursor: pointer;
}
img.immagine-logo-seriea:hover {
    width: 70px;
    min-width: 50px;
    margin-top: 2px;
    margin-bottom: 7px;
    border: 2px solid goldenrod;
    transform: scale(1.35); /* ingrandimento al 150% */
    z-index: 1000;
    cursor: pointer;
}
/* ******************************************************************* */
/* Gestione della paginazione della fine della pagina web              */
/* ******************************************************************* */
div#piedipagina { 
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;   
    max-width: 1050px;
    min-width: 250px;
    font-size: 10px;
    text-align: center;
    margin: 10px 30px 20px 50px; 
    padding: 1px 1px 1px 1px;
    cursor:zoom-in;       
}
div#piedipagina:hover { 
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    border: 2px solid gold;
    border-radius: 10px;   
    max-width: 1070px;
    min-width: 250px;
    font-size: 18px;
    text-align: center;
    margin: 10px 20px 20px 40px;
    padding: 5px 10px 5px 10px;   
    cursor: zoom-in;     
}
p.commentoselezionato:hover{
    color: white;
    background-color: navy;
    font-size: small;
    text-align: center;
}
p { 
    font-size: normal;
    text-align: center;
}
/* ******************************************************************* */
/* Intestazione logo e classifica dei campionati                        */
/* ******************************************************************* */
div#immagineclassifica {
    background-color: white;
    width: 200px;
    margin: 10px auto 10px 41%;
    padding: 10px 10px 10px 10px;
    border: 3px solid goldenrod;
    border-radius: 30px;
}
div#immagineclassificabundesliga {
    background-color: black;
    width: 200px;
    margin: 10px auto 10px 41%;
    padding: 10px 10px 10px 10px;
    border: 3px solid goldenrod;
    border-radius: 30px;
}

#classifica{
        /* background-color:#ad94ff;*/
        background-color:color-mix(in hsl shorter hue, color percentage, color percentage);  
        width: 350px;
        font-size: 16px;
        text-align: center;
        color: blue;
        margin: 5px 0px 20px 10px;
        padding: 2px;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 3px 3px 4px 3px black;
}
#classifica:hover {
        background-color: goldenrod;
        width: 350px;
        font-size: 16px;
        text-align: center;
        color: blue;
        margin: 5px 0px 20px 10px;
        padding: 2px;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 1px 1px 2px 1px black;
}
/* ******************************************************************* */
/* Gestione della cella del pronostico                                 */
/* ******************************************************************* */
div#cellapartita {
     background-color:color-mix(in hsl shorter hue, color percentage, color percentage); 
    /* background-color: #a489fa; */
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 35px;
    margin-left: 10px;
    padding: 5px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 10px; 
    box-shadow: 5px 5px 9px 4px black;
}
div#cellapartita:hover {
    font-weight: bold;
    margin-left: 20px;
    background-color: #cacaca;  
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 35px;
    padding: 5px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 10px; 
    box-shadow: 2px 2px 3px 2px black;
}
.dataincontro{
    width: 190px;
    background-color: rgb(211, 206, 206);
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 45px;
    margin-bottom: 1px;
    font-size: medium;
    color: black;
    text-align: center;
    cursor: default;
}
.contenitore {
    display: flex;
    flex-wrap: wrap; /* Permette di andare a capo se serve */
}
.box {
    text-align: center;
    font-size: 12px;
    color: black;
    background-color: whitesmoke;
    width: 20%; 
    height: 30px;
    min-width: 190px; 
    max-width: 240px;
    margin-left: 38px;
    margin-top: 2px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px 0px 0px 0px;
    cursor: default;
}   
.box:hover {
    color: rgb(119, 91, 20);
    border: 2px solid gold;
    cursor: default;
}  
div#scudetto {
    background-color: whitesmoke;
    float:left;
    margin-left: 5%;
    padding: 1px;
    margin-bottom: 2px;
    margin-top: 2px;
}
div#nomesquadra{
    font-size:medium;
    min-width: 170px;
    max-width: 91%;
    height: 35px;
    background-color: whitesmoke;
    padding: 0px 0px 0px 0px;
    margin-left: 5%;
    margin-top:5px;
}
.boxsquadra {
    font-weight: bolder;
    text-align: center;
    font-size: 13px;
    color: black;
    background-color: whitesmoke;
    width: 45%; /* 2 div per riga */
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 1px;
    margin-left: 20px;
    margin-bottom: 2px;
    padding: 1px 1px 1px 10px;
    cursor: default;
}  
.boxsquadra:hover {
    color: rgb(119, 91, 20);
    border: 2px solid gold;
    cursor: default;
} 
/* ******************************************************************* */
/* Gestione delle statistiche del club                                 */
/* ******************************************************************* */
div#immagineclub {
    background-color: white;
    width: 160px;
    margin: 10px auto 20px 41%;
    padding: 5px;
    border: 3px solid goldenrod;
    border-radius: 30px;
}
.formaclub {
    width: 270px;
    background-color: rgb(211, 206, 206);
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 35px;
    margin-bottom: 5px;
    font-size: 15px;
    color: black;
    text-align: center;
    cursor: default;
}
div#cellaclub { 
    background-color:color-mix(in hsl shorter hue, color percentage, color percentage); 
    /* background-color: #a489fa; */
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 35px;
    margin-left: 10px;
    padding: 5px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 10px; 
    box-shadow: 5px 5px 9px 4px black;
}
.contenitoreclub {
    display: flex;
    flex-wrap: wrap; /* Permette di andare a capo se serve */
}
.boxclub {
    text-align: center;
    background-color: whitesmoke;
    width: 18%; /* 6 div per riga */
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 1px;
    margin-left: 20px;
    margin-bottom: 2px;
    padding: 1px 1px 10px 5px;
    cursor: default;
}  
div#attributoclub {
    float: left;
    font-size: 18px;
    background-color: whitesmoke;
    min-width: 75px;
    max-width: 75px;
    margin-left: 5%;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
}
div#valoreattributoclub {
    font-size: 14px;
    min-width: 30px;
    max-width: 30px;
    height: 20px;
    background-color: whitesmoke;
    padding: 2px 0px 0px 0px;
    margin-left: 70%;
    margin-top: 3px;
}
/* GESTIONE DEI COLLEGAMENTI LINK */
a{ 
    font-weight: bold;
    font-size: 14px;
    text-decoration: dotted ;
    color: black;
    text-align: center;
    margin: 1px 1px 1px 1px;
}
a:hover{
    text-decoration: underline;
    color: black;
}
a:active{
    color:aquamarine;
}

/* adattamenti per schermi tablet   */

@media only screen and (max-width: 800px ) {
    
    body { 
        color: black;
        background-color: white;
        background-attachment: fixed;
        background-image: url('sfondo1300.jpg'); /* Percorso immagine */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        /* background-image:linear-gradient(to bottom,blue,white,red); */
    }
    h1 {
        font-size: 35px;
    }
    h2 { font-size: 18px;}
    h3{
        font-size: 15px;
    }
    img.immagine-logo-seriea{
    border: 2px solid goldenrod;
    border-radius: 10px;
    cursor: pointer;
    }
    img.immagine-logo-seriea:hover {
    border: 2px solid goldenrod;
    cursor:pointer;
    }   
    div#immagineclassifica {
    background-color: white;
    width: 200px;
    margin: 10px auto 10px 35%;
    padding: 10px 10px 10px 10px;
    border: 3px solid goldenrod;
    border-radius: 30px;
}
    div#immagineclassificabundesliga {
    background-color: black;
    width: 200px;
    margin: 10px auto 10px 35%;
    padding: 10px 10px 10px 10px;
    border: 3px solid goldenrod;
    border-radius: 30px;
}
    div#barradinavigazione {
    display: flex;
    flex-wrap: wrap;
    margin-top:15px;
    background-color: transparent;
    border-radius: 10px;
    min-width: 150px;
    padding: 1px 1px 1px 1px;
    width: 78%;
    }
    .cellebarra {
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    width: 35px; 
    height: 22px;
    text-align: center;
    font-size: 14px;
    min-width: 150px;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 7px 2px 2px 2px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 3px black;
    }   
.cellebarra:hover {
    background-color: gold;  
    border: 1px solid white;
    box-shadow: 2px 2px 3px 2px black;
}    
div#contenitorecampionato {
    /* clear:both; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    }
div#inizio {
    color: black;
    background-color: goldenrod;
    text-align: center;
    min-width: 250px;
    min-height: 25px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 3px 1px 2px 5px;
}
.sfondo {
  background-image: url('sfondocampionato.jpg');
  background-size: cover;        /* Copre tutto il div */
  background-position: center;   /* Centra l'immagine */
  width: 250px;
  height: 235px;
  border-radius: 10px; 
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;  
  border: 1px solid black;  
}    
div#campionato {
    color: black;
    background-color: goldenrod;
    text-align: center;
    font-size: 11px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    max-width: 250px;
    min-width: 250px;
    min-height: 235px;
    box-shadow: 5px 5px 9px 4px black;
    margin-top: 5px;
    padding: 1px 1px 1px 1px;
    margin: 5px 10px 25px 10px;
    }
div#campionato:hover {
    background-color: goldenrod;
    color :black;
    text-align: center;
    max-width: 250px;
    min-width: 250px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px black;
    margin: 5px 10px 25px 10px;
    }
img.immagine-logo-seriea{
    width: 110px;
    height: 150px;
    min-width: 50px;
    margin-top: 1px;
    margin-bottom: auto;
    border: 2px solid goldenrod;
    border-radius: 10px;
    transition: transform 0.5s ease;
    cursor: pointer;
    padding: 2px 2px 2px 2px;  
}
img.immagine-logo-seriea:hover {
    width: 120px;
    min-width: 50px;
    margin-top: 0px;
    margin-bottom: 1px;
    border: 2px solid goldenrod;
    transform: scale(1.15); /* ingrandimento al 150% */
    z-index: 1000;
    cursor:default;
}    
h1.schedine{
    font-size: 25px;
    margin-left: 15%;
}
#classifica{
        background-color: goldenrod;
        width: 350px;
        font-size: 16px;
        text-align: center;
        margin: 5px 0px 30px 200px;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 3px 3px 4px 3px black;
}
#classifica:hover {
        background-color: gold;
        width: 350px;
        font-size: 16px;
        text-align: center;
        margin: 5px 0px 30px 200px;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 1px 1px 2px 1px black;
}
div#cellapartita {
    /*background-color: #ad94ff;*/
    background-color:color-mix(in hsl shorter hue, color percentage, color percentage); 
    margin-top: 10px;
    margin-right: 40%;
    margin-bottom: 30px;
    margin-left: 120px;
    padding: 5px 10px 10px 10px;
    max-width: 500px;
    min-width: 500px;
    border: 2px solid black;
    border-radius: 10px; 
    box-shadow: 5px 5px 9px 4px black;
}
div#cellapartita:hover {
    background-color: #cacaca;
    /* font-weight: bolder; */
    margin-top: 10px;
    margin-right: 40%;
    margin-bottom: 30px;
    margin-left: 135px;
    padding: 5px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 10px; 
    box-shadow: 2px 2px 3px 2px black;
}
.dataincontro{
    width: 160px;
    background-color: rgb(211, 206, 206);
    background-color: white;
    border-radius: 10px; 
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 170px;
    margin-bottom: 15px;
    font-size: 14px;
    color: black;
    text-align: center;
    cursor: default;
}
.contenitore {
    display: flex;
    flex-wrap: wrap; /* Permette di andare a capo se serve */
}
.box {
    text-align: center;
    font-size: 12px;
    color: black;
    background-color: white;
    width: 150px; 
    height: 25px;
    min-width: 230px;
    max-width: 230px;
    margin-left: 12px;
    margin-top: 2px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 0px 1px 0px;
    cursor: default;
}   
.box:hover {
    border:1px solid gold;
}
div#scudetto {
    background-color: whitesmoke;
    float:left;
    margin-left: 5%;
    padding: 2px;
    margin-bottom: 0px;
    margin-top: 3px;
}
div#nomesquadra{
    min-width: 170px;
    max-width: 80%;
    background-color: whitesmoke;
    margin-left: 10px;
    height: 25px;
    padding: 0px 0px 0px 0px;
    margin-top:5px;
}
.boxsquadra {
    font-weight: bolder;
    text-align: center;
    font-size: 14px;
    color: black;
    /*background-color: #D4CB92;*/
    background-color:  rgb(211, 206, 206);
    background-color: whitesmoke;
    min-width: 230px;
    max-width: 230px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 2px;
    margin-left: 12px;
    margin-bottom: 2px;
    padding: 5px;
    cursor: default;
}  
.boxsquadra:hover {
    border: 1px solid gold;
}
/* ******************************************************************* */
/* Gestione delle statistiche del club                                 */
/* ******************************************************************* */
div#immagineclub {
    background-color: white;
    width: 150px;
    margin: 10px auto 20px 41%;
    padding: 10px 10px 10px 10px;
    border: 3px solid goldenrod;
    border-radius: 30px;
}
.formaclub {
    width: 270px;
    background-color: rgb(211, 206, 206);
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black; 
    margin-top: 5px;
    margin-left: 110px;
    margin-bottom: 5px;
    font-size: 15px;
    color: black;
    text-align: center;
    cursor: default;
}
div#cellaclub { 
    /*background-color: #ad94ff;*/
    background-color:color-mix(in hsl shorter hue, color percentage, color percentage); 
    margin-top: 10px;
    margin-right: 40%;
    margin-bottom: 30px;
    margin-left: 120px;
    padding: 5px 10px 10px 10px;
    max-width: 500px;
    min-width: 500px;
    border: 2px solid black;
    border-radius: 10px; 
    box-shadow: 5px 5px 9px 4px black;
}
.contenitoreclub {
    display: flex;
    flex-wrap: wrap; /* Permette di andare a capo se serve */
}
.boxclub {
    font-weight: normal;
    text-align: center;
    color: black;
    /*background-color: #D4CB92;*/
    background-color:  rgb(211, 206, 206);
    background-color: whitesmoke;
    min-width: 230px;
    max-width: 230px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 2px;
    margin-left: 12px;
    margin-bottom: 2px;
    padding: 1px 0px 7px 3px;
    cursor: default;
}  
div#attributoclub {
    background-color: whitesmoke;
    float:left;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 17px;
    min-width: 75px;
    max-width: 75px;
    margin-left: 5px;
    margin-top: 1px;
}
div#valoreattributoclub {
    padding: 0px 0px 0px 0px;
    margin-top:0px;
    font-size: 14px;
    min-width: 30px;
    max-width: 30px;
    background-color: whitesmoke;
    padding: 0px 0px 0px 0px;
    
}
    
div#piedipagina { 
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;   
    max-width: 800px;
    min-width: 250px;
    font-size: 10px;
    text-align: center;
    margin: 10px 30px 20px 30px; 
    padding: 1px 1px 1px 1px;       
}
div#piedipagina:hover { 
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    border: 1px solid gold;
    border-radius: 10px;   
    max-width: 800px;
    min-width: 250px;
    font-size: 14px;
    /* font-weight: bolder; */
    text-align: center;
    margin: 10px 30px 20px 30px;
    padding: 5px 10px 5px 10px;        
}
}
/* adattamenti, per schermi smartphone */
@media only screen and (max-width: 600px ) {
    body { 
        color:black;
        background-color: white;
        background-attachment: fixed;
        background-image: url('sfondo800x1200.jpg'); /* Percorso immagine */
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
    h1 {
        font-size: 27px;
    }
    h1.schedine{
    font-size: 20px;
    margin-left: 15%;
}
    h2{
        font-size: 14px;
        font-weight: bolder;
    }
    h3{
        font-size: 13px;
        font-weight: bolder;
    }
    img.immagine-logo-seriea{
    border: 2px solid goldenrod;
    border-radius: 10px;
    cursor: pointer;
    }
    img.immagine-logo-seriea:hover {
    border: 2px solid goldenrod;
    cursor:default;
    }   
    div#barradinavigazione {
    display: flex;
    flex-wrap: wrap;
    margin-top:15px;
    background-color: transparent;
    border-radius: 7px;
    min-width: 80px;
    padding: 1px 1px 1px 1px;
    width: 78%;
    }
    .cellebarra {
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
    width: 15px; 
    height: 17px;
    text-align: center;
    font-size: 11px;
    min-width: 90px;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px 1px 1px 1px;
    border-radius: 7px;
    box-shadow: 3px 3px 4px 2px black;
    }  
 .cellebarra:hover {
    background-color: #ad94ff;  
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px black;
}    
div#contenitorecampionato {
    /* clear:both; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    }
div#inizio {
    color: white;
    background-color: goldenrod;
    text-align: center;
    min-width: 120px;
    min-height: 25px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 1px 1px 2px 5px;
} 
.sfondo {
  background-image: url('sfondocampionato.jpg');
  background-size: cover;        /* Copre tutto il div */
  background-position: center;   /* Centra l'immagine */
  width: 120px;
  height: 140px;
  border-radius: 10px; 
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;  
  border: 1px solid black; 
}
      
div#campionato {
    color: black;
    background-color: goldenrod;
    text-align: center;
    font-size: 10px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    max-width: 120px;
    min-width: 120px;
    min-height: 140px;
    box-shadow: 5px 5px 9px 4px black;
    margin-top: 5px;
    padding: 0px 1px 0px 0px;
    margin: 5px 10px 25px 10px;
    }
div#campionato:hover {
    background-color: goldenrod;
    color: black;
    text-align: center;
    max-width: 120px;
    min-width: 120px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px black;
    margin: 5px 10px 25px 10px;
    }
img.immagine-logo-seriea{
    width: 60px;
    height: 80px;
    min-width: 50px;
    margin-top: 1px;
    margin-bottom: auto;
    border: 1px solid goldenrod;
    border-radius: 10px;
    transition: transform 0.5s ease;
    cursor: pointer;
}
img.immagine-logo-seriea:hover {
    width:65px;
    margin-top: 0px;
    margin-bottom: 1px;
    border: 1px solid gold;
    transform: scale(1.20); /* ingrandimento al 150% */
    z-index: 1000;
    cursor:default;
}    


div#immagineclassifica {
    display:none;
}
div#immagineclassificabundesliga {
    display:none;
}    
div#lavori {
    position: fixed;
    background-color: goldenrod;
    width: 258px;
    heigth:88px;
    margin-top: 300px;
    margin-left: 1px;    
    padding: 5px;
}
#classifica{
        background-color:goldenrod;
        width: 295px;
        font-size: 16px;
        text-align: center;
        margin: 10px 10px 25px 10px;
        padding: 3px;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 3px 3px 4px 3px black;
}
#classifica:hover{
        background-color: gold;
        width: 295px;
        font-size: 16px;
        text-align: center;
        margin: 10px 10px 25px 10px;
        padding:3px;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 1px 1px 2px 1px black;
}
div#cellapartita {
    background-color:color-mix(in hsl shorter hue, color percentage, color percentage);
    /* background-color: #ad94ff; */
    margin-top: 25px;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 5px 10px 10px 10px;
    max-width: 250px;
    min-width: 250px;
    border: 2px solid black;
    border-radius: 10px; 
    box-shadow: 5px 5px 9px 4px black;
}
div#cellapartita:hover {
    background-color: #cacaca;
    /* font-weight: bolder; */
    margin-top: 25px;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-left: 25px;
    padding: 5px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 10px; 
    box-shadow: 2px 2px 3px 2px black;
}
.dataincontro{
    width: 150px;
    background-color:color-mix(in hsl shorter hue, color percentage, color percentage);
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 15px;
    font-size: 12px;
    color: black;
    
    text-align: center;
    cursor: default;
}
.contenitore {
    display: flex;
    flex-wrap: wrap; /* Permette di andare a capo se serve */
}
.box {
    text-align: center;
    font-size: 11px;
    color: black;
    background-color: white;
    width: 230px; 
    height: 25px;
    min-width: 230px;
    max-width: 230px;
    margin-left: 10px;
    margin-top: 2px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px 0px 1px 0px;
    cursor: default;
}   
div#scudetto {
    width: 30px;
    background-color: whitesmoke;
    float:left;
    margin-left: 5px;
    padding: 2px;
    margin-bottom: 0px;
    margin-top: 3px;
}
div#nomesquadra{
    min-width: 170px;
    max-width: 80%;
    background-color: whitesmoke;
    margin:1px;
    margin-left: 10px;
    padding:1px;
}
.boxsquadra {
    font-weight: bolder;
    text-align: center;
    font-size: 14px;
    color: black;
    /*background-color: #D4CB92;*/
    background-color:  rgb(211, 206, 206);
    background-color: whitesmoke;
    min-width: 230px;
    max-width: 230px; 
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 2px;
    margin-left: 10px;
    margin-bottom: 2px;
    padding: 10px;
    cursor: default;
}  
.box:hover {
    border: 1px solid gold;
    font-weight: bold;
}
.boxsquadra:hover{
    border: 1px solid gold;
    font-weight: bold;

}
/* ******************************************************************* */
/* Gestione delle statistiche del club                                 */
/* ******************************************************************* */
 div#immagineclub {
    /* display: none;   */
    background-color: white;
    width: 150px;
    margin: 5px auto 10px 70px;
    padding: 10px 10px 10px 10px;
    border: 3px solid goldenrod;
    border-radius: 30px; 
 }    
.formaclub {
    width: 240px;
    background-color: rgb(211, 206, 206);
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black; 
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 1px;
    font-size: 13px;
    color: black;
    text-align: center;
    cursor: default;
}    
 div#cellaclub {
    background-color:color-mix(in hsl shorter hue, color percentage, color percentage);
    /* background-color: #ad94ff; */
    margin-top: 25px;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 5px 10px 10px 10px;
    max-width: 250px;
    min-width: 250px;
    border: 2px solid black;
    border-radius: 10px; 
    box-shadow: 5px 5px 9px 4px black;
}   
.contenitoreclub {
    display: flex;
    flex-wrap: wrap; /* Permette di andare a capo se serve */
}
.boxclub {
    font-weight: normal;
    text-align: center;
    color: black;
    /*background-color: #D4CB92;*/
    background-color:  rgb(211, 206, 206);
    background-color: whitesmoke;
    min-width: 230px;
    max-width: 230px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 2px;
    margin-left: 12px;
    margin-bottom: 2px;
    padding: 2px;
    cursor: default;
}  
div#attributoclub {
    background-color: whitesmoke;
    float:left;
    padding: 0px 0px 0px 0px;
    margin-bottom: 5px; 
    margin-top: 3px;
    font-size: 15px;
    min-width: 75px;
    max-width: 75px;
    margin-left: 5px;
    margin-top: 1px;
}
div#valoreattributoclub {
    padding: 0px 0px 0px 0px;
    margin-top:0px;
    font-size: 13px;
    min-width: 30px;
    max-width: 30px;
    background-color: whitesmoke;
    padding: 0px 0px 0px 0px;
}    
div#piedipagina{
    display: none;
}
  a{ 
    font-weight: bold;
    font-size: normal;
    color: black;
    text-align: center;
    margin : auto;
    padding: auto;
}
a:hover{
    text-decoration: underline;
    color: black;
}
a:active{
    color: white;
}  
}
